<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Material Design Lite -->
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.min.js"></script>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.purple-orange.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    <title>DIBS</title>
  </head>
  <body>
    <!-- Uses a header that contracts as the page scrolls down. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--overlay-drawer-button">
      <header class="mdl-layout__header mdl-layout__header--waterfall">
        <!-- Top row, always visible -->
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <a href="/ideas"
          style="color: white; text-decoration: none;"><span class="mdl-layout-title">Project DiBs</span></a>
          <div class="mdl-layout-spacer"></div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                      mdl-textfield--floating-label mdl-textfield--align-right">
            <label class="mdl-button mdl-js-button mdl-button--icon"
                   for="waterfall-exp">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" name="sample"
                     id="waterfall-exp" />
            </div>
          </div>
        </div>
        <!-- Bottom row, not visible on scroll -->
        <div class="mdl-layout__header-row">
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation -->
          <nav class="waterfall-demo-header-nav mdl-navigation">
            <a class="mdl-navigation__link" href="">
              <% if (typeof currentUser === 'undefined'){%>
                <a style="text-decoration: none; margin-right: 5px;"href="/users/login">Login ^o^</a> or
                <a style="text-decoration: none; margin-left: 5px;"href="/users/new"> Sign Up! \_(ツ)_/¯</a>
                <% } else { %>
                <%= currentUser %>
                <% } %>

            </a>
            <a style="text-decoration: none;"
            class="mdl-navigation__link" href="">
              <% if (typeof currentUser === 'undefined'){%>
                <% } else { %>
                <a style="text-decoration:none;" href="/users/logout">Logout</a>
                <% } %>

            </a>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer"
           style="background-color: orange;">
        <span class="mdl-layout-title">DiBs</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="">
            <% if (typeof currentUser === 'undefined'){%>
              HI
              <% } else { %>
              <%= currentUser %>
              <% } %>

          </a>
          <a class="mdl-navigation__link" href="">Immersion Pts: </a>
          <a class="mdl-navigation__link" href="">Idea Pts: </a>
          <a class="mdl-navigation__link" href="">Comment Pts: </a>
          <!-- <a class="mdl-navigation__link" href="">Link</a> -->
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="page-content"><%-body%></div>
      </main>
    </div>
  </body>
  </body>
</html>
