<form id="site" class="index" action="/ideas/<%=idea.id%>/?_method=PATCH" method="post">
  <label>Title:</label><br>
  <input type="text" name="idea[title]" placeholder="title"><br>
  <label>Content:</label><br>
  <input type="text" name="idea[content]"><br>
  <label>Image:</label><br>
  <input type="text" name="idea[image]"><br>
  <input type="submit" value="Update!" />
</form>
