<div class="overall">
<% idea.forEach(function(idea, i){ %>
	<a href="/ideas/<%=idea._id%>"
		style="text-decoration: none;">
		<div class="child mdl-card mdl-shadow--2dp">
			<div class="mdl-card__media">
				<img src="<%= idea.image %>" width="100%" height="100%"  />
			</div>
			<div class="mdl-card__title">
				<%= idea.title %>
			</div>
			<div class="mdl-card__supporting-text --border">
				<a href="/ideas/<%=idea._id%>"></a>
			</div>
		</div>
		<% }); %>
	</a>
</div>
<br>
