<form id="site" class="index" action='/ideas'method="post">
  <label>Title:</label><br>
  <input type="text" name="idea[title]" placeholder="title"><br>
  <label>content:</label><br>
  <input type="text" name="idea[content]"><br>
  <label>Image</label>
  <input type="text" name="idea[image]"><br>
  <input type="submit" value="Submit" />
</form>
