
.overall{
  display:flex;
  flex-direction: row;
  flex-flow: wrap;
}

.child{
  background-color: white;
  color: white;
  margin-top: .1%;
  margin-right: .9%;
  margin-bottom: .5%;
  margin-left: .5%;
  /*width: 22.5%;*/
  min-width: 200px;
  /*height: 100%;*/
  position: relative;
  float: left;
  width:  23%;
  height: 400px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
}

.total-idea{
  width: 95%;
  margin: auto;
  border: 2px solid purple;
  background-color: lavender;
}
.bigger-type{
  margin: 0;
}
.smaller-type{
  margin-left: 10%;
}
.zero{
  float: left;
  margin-right: .4%;
}

form:not(.zero & .cleared){
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
}

.total-idea{
  margin-bottom: 1%;
}

.main-fab-button{
  z-index: 10;
  position: fixed;
  top: 85%;
  left: 90%;
  margin-right: auto;
}

body{
  background-color: #FFFFF0;
}

.reply{
  background-color: lavender;
  margin: auto;
  border: 1px solid purple;
  height: auto;
}

.responses{
  border: 2px solid purple;
  width: 95%;
  margin: auto;
}
