<!-- <form id="site" class="index" action='/users/login'method="post">
  <label>Username:</label>
  <input type="text" name="user[username]" placeholder="username">
  <label>Password:</label>
  <input type="password" name="user[password]" placeholder="****">
  <input type="submit" value="Log In" />
  <a href="/users/new">Or Sign Up!</a>
</form> -->

<form id="site" class="index" action='/users/login'method="post">
  <div class="mdl-textfield mdl-js-textfield textfield-demo">
    <input class="mdl-textfield__input" type="text" name="user[username]"placeholder="username">
  </div>
      <div class="mdl-textfield mdl-js-textfield textfield-demo">
    <input class="mdl-textfield__input" type="password" name="user[password]" placeholder="****">

  </div>
  <br>
  <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" >
    Log In
  </button>
  <a href="/users/new">Or Join</a>
</form>
