<!-- <form id="site" class="index" action='/users'method="post">
  <label>Username:</label><br>
  <input type="text" name="user[username]" placeholder="username"><br>
  <label>Password:</label><br>
  <input type="password" name="user[password]" placeholder="****"><br>
  <input type="submit" value="Sign Up!" />
</form> -->
<!-- Simple Textfield -->
<form id="site" class="index" action='/users'method="post">
  <div class="mdl-textfield mdl-js-textfield textfield-demo">
    <input class="mdl-textfield__input" type="text" name="user[username]"placeholder="username">
  </div>
      <div class="mdl-textfield mdl-js-textfield textfield-demo">
    <input class="mdl-textfield__input" type="password" name="user[password]" placeholder="****">
    <input type="submit" value="Sign Up!">
  </div>
</form>
